/* 在 src/Watermark.css 中添加样式 */
@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}

/* .watermarkApp {
    width: 100vw;
    min-height: 90vh;
    position: relative;
} */

.watermarkBg {
    position: absolute;
    /* 绝对定位相对于.tab */
    width: 100%;
    /* 宽度填满容器 */
    height: 100%;
    /* 高度填满容器 */
    object-fit: cover;
    /* 确保图片覆盖整个容器而不变形 */
    /* z-index: -1; 确保图片在内容之下 */
    background: linear-gradient(-90deg, #6d6d6d25 1px, transparent 0), linear-gradient(#6d6d6d25 1px, transparent 0), linear-gradient(-90deg, #6d6d6d25 1px, transparent 0), linear-gradient(#6d6d6d25 1px, transparent 0), linear-gradient(transparent 6px, transparent 0, transparent 156px, transparent 0), linear-gradient(-90deg, #6d6d6d25 1px, transparent 0), linear-gradient(-90deg, transparent 6px, transparent 0, transparent 156px, transparent 0), linear-gradient(#6d6d6d25 1px, transparent 0), 0 0;

    background-size: 32px 32px, 32px 32px, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px, 256px 256px;
    animation: scrollUp 2s cubic-bezier(.215, .61, .355, 1) forwards;
}

/* .bgOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; 确保这一层在背景图片之上，其他内容之下
} */

/* .bgBlur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} */

/* .imgWatermark {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* .upbutton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

/* .imgGallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 20px;
    width: 20vw;
} */


/* .applyWatermark {
    background-color: #268af8;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0px;
    cursor: pointer;
    border-radius: 5px;
} */

/* watermarkEditor */
/* .positionButtons {
    margin: 20px 0;
} */

.buttonText {
    margin: 10px 0;
}

.operation {
    /* margin: 20px 0; */
}
